<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.material.query.dao.BomMapper">

    <!-- BOM Explosion: RequiredMaterial DTO ResultMap -->
    <resultMap id="bomExplosionRequiredMaterialResultMap"
               type="com.werp.sero.material.query.dto.BomExplosionResponseDTO$RequiredMaterial">
        <id property="materialId" column="raw_material_id"/>
        <result property="materialName" column="raw_material_name"/>
        <result property="materialCode" column="raw_material_code"/>
        <result property="spec" column="raw_material_spec"/>
        <result property="baseUnit" column="raw_material_base_unit"/>
        <result property="unitRequirement" column="requirement"/>
        <result property="unitPrice" column="raw_material_unit_price"/>
    </resultMap>

    <!-- BOM Implosion: UsedInProduct DTO ResultMap  -->
    <resultMap id="bomImplosionUsedInProductResultMap"
               type="com.werp.sero.material.query.dto.BomImplosionResponseDTO$UsedInProduct">
        <id property="productId" column="material_id"/>
        <result property="productName" column="material_name"/>
        <result property="productCode" column="material_code"/>
        <result property="productSpec" column="material_spec"/>
        <result property="baseUnit" column="material_base_unit"/>
        <result property="requirement" column="requirement"/>
        <result property="productUnitPrice" column="material_unit_price"/>
    </resultMap>

    <select id="findByMaterialIdWithRawMaterial" resultMap="bomExplosionRequiredMaterialResultMap">
        SELECT
            A.requirement,
            B.id AS raw_material_id,
            B.name AS raw_material_name,
            B.material_code AS raw_material_code,
            B.spec AS raw_material_spec,
            B.base_unit AS raw_material_base_unit,
            B.unit_price AS raw_material_unit_price
        FROM bom A
        INNER JOIN material B ON A.raw_material_id = B.id
        WHERE A.material_id = #{materialId}
        ORDER BY A.id
    </select>

    <select id="findByRawMaterialIdWithMaterial" resultMap="bomImplosionUsedInProductResultMap">
        SELECT
            A.requirement,
            B.id AS material_id,
            B.name AS material_name,
            B.material_code AS material_code,
            B.spec AS material_spec,
            B.base_unit AS material_base_unit,
            B.unit_price AS material_unit_price
        FROM bom A
        INNER JOIN material B ON A.material_id = B.id
        WHERE A.raw_material_id = #{rawMaterialId}
        ORDER BY A.id
    </select>

</mapper>
